<nav>
  <div class="nav-wrapper indigo darken-4">
    <a href="#!" class="brand-logo">Mongo Chat</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn yellow accent-2 black-text" id="home" href="/">Homepage</a></li>
      <li><a class="waves-effect waves-light btn yellow accent-2 black-text" id="saved" href="/saved">Saved Articles</a></li>
      <li><a class="waves-effect waves-light btn yellow accent-2 black-text" id="deleteSavedArticles">DELETE SAVED ARTICLES</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="/saved">Saved Articles</a></li>
</ul>

<div id="modal1" class="modal">
  <div class="modal-content">
    <div id="modalHeader"></div>


    <div id="previousComments">
    {{#each comment}}
    {{/each}}
    </div>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">comment:</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="saveComment">Save Comment</a>
  </div>
</div>

<div class="container">
  <ul class="collapsible popout" id="savedResults">
    {{#each save}}
    {{/each}}
  </ul>

</div>

<script src="/js/saved.js"></script>